@model Sistema_Gestion_Negocio_ASP.NET_MVC.Models.ViewModels.NegocioConEmpleadoViewModel;
@{
    ViewData["Title"] = "MiNegocio";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<div class="card card-negocio mb-5">

    <h1 class="titulo-negocio mb-3 ms-2 px-4 py-2">Negocio</h1>

    <div class="col-md-4 mb-4 ms-4">
        <div class="card card-negocio-detalle shadow-sm h-100 position-relative p-1">
            <div class="card-body card-body-negocio m-1">

                <div class="position-absolute top-0 end-0 p-2">
                    <a asp-controller="Negocio" asp-action="EditarNegocio" asp-route-idNegocio="@Model.Negocio.IdNegocio" title="Editar negocio" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </div>

                <h3 class="card-title mt-4">@Model.Negocio.Nombre</h3>
                <p class="card-text">Dirección: @Model.Negocio.Direccion</p>
                <p class="card-text">Rubro: @Model.nombreRubro</p>

            </div>
        </div>
    </div>

</div>



<div class="card card-empleados-wrapper">

    <h1 class="titulo-empleados mb-3 ms-2 px-4 py-2">Empleados</h1>
    <div>

        <button class="btn-agregar-empleado btn btn-success mb-3 ms-2 px-4 py-2 rounded" style="width: auto;" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpleado">
            <i class="bi bi-plus-circle"></i> Agregar empleado
        </button>
        

    </div>
    <hr class="mb-4" />

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["DangerMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["DangerMessage"]
        </div>
    }

    <div class="card-body card-empleados-body">
        <div class="row">
            @foreach (var empleado in Model.Empleados)
            {
                <div class="col-md-4 mb-4">
                    <div class="card-empleado card shadow-sm h-100 position-relative">
                        <div class="card-body">

                            <div class="position-absolute top-0 end-0 p-2">

                                <button title="Cambiar nombre" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalCambiarNombreEmpleado" data-correo="@empleado.Correo">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <button title="Eliminar" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminarEmpleado" data-correo="@empleado.Correo" data-nombre="@empleado.Nombre">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>

                            <h3 class="card-title mt-4">@empleado.Nombre</h3>
                            <p class="card-text">Correo: @empleado.Correo</p>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>









    <div class="modal fade" id="modalAgregarEmpleado" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Empleado</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("/Views/Empleado/AgregarEmpleado.cshtml", Model.EmpleadoNuevo)
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCambiarNombreEmpleado" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar nombre</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("/Views/Empleado/CambiarNombreDeEmpleado.cshtml", Model.EmpleadoNuevo)
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarEmpleado" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Eliminar empleado</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("/Views/Empleado/EliminarEmpleado.cshtml", Model.EmpleadoNuevo)
                </div>
            </div>
        </div>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    
    @section Scripts {
        <script>
            var modalCambiarNombre = document.getElementById('modalCambiarNombreEmpleado');

            modalCambiarNombre.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var correo = button.getAttribute('data-correo');

                var inputCorreo = modalCambiarNombre.querySelector('#correoEmpleado');
                inputCorreo.value = correo;
            });
        </script>

        <script>
            var modalEliminarEmpleado = document.getElementById('modalEliminarEmpleado');

            modalEliminarEmpleado.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var correo = button.getAttribute('data-correo');
                var nombre = button.getAttribute('data-nombre');

                var inputCorreo = modalEliminarEmpleado.querySelector('#correoEmpleado');
                inputCorreo.value = correo;

                var textoConfirmacion = modalEliminarEmpleado.querySelector('#textoConfirmacion');
                if (textoConfirmacion) {
                    textoConfirmacion.textContent = `¿Desea eliminar a ${nombre}?`;
                }
            });
        </script>


    }

</div>